.field-error {
	color: #f00 !important;
}

.cst-det-label {
	font-weight: 600;
	color: #222;
}

.cst-detail {
	padding: 7px 10px;
	margin: 0;
}

.prh-in {
	padding: 2px 5px;
	margin: 0;
	width: 80px;
	color: #222;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #ced4da;
	outline: #eee;
	border-radius: 3px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.prh-amt {
	padding: 2px 5px;
	color: #222;
	font-size: 16px;
	font-weight: 600;
}

.wrong-in {
	border-color: #f00;
	box-shadow: 0px 0px 5px #dc3545;
}

.error-xlc {
	color: #ff2626;
	display: none;
}

.prh-sup {
	color: #222;
	text-decoration: underline;
}